*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

p{
    margin: 0;
}

.my_fs_xs{
    font-size: 0.75rem;
}

/* HEADER */

header{
    background-color: white;
    height: 50px;
}

header img.my_logo_desktop{
    width: 130px;
}

header img.my_logo_mobile{
    width: 35px;
}

header button.my_btn_search,
header input.my_input_search{
    background-color: #e5e5e5;
    border-radius: 0;
    border: none;
}

/* header div.container-fluid>ul{
    width: 250px;
} */

/* SIDE-BAR */

main nav.side-bar{
    height: calc(100vh - 50px);
    min-width: 150px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}

/* MY INFO */

section.my_info{
    height: calc(100vh - 50px);
}

section.my_info div.my_main-content{
    height: calc(100vh - 180px);
    overflow: auto;
}

section.my_info div.top_nav_info{
    height: 130px;
    background-color: #1b72e8;
}

/* section.my_info div.my_class_info p{
    padding: 0 1.3rem;
} */

section.my_info section{
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

section.my_info section h1{
    padding-bottom: 1rem;
    padding-top: 0.3rem;
    padding-left: 1rem;
    background-color: #f7f7f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* MY PROSSIME CLASSI */

section.my_prossime_classi div.my_class_info{
    width: 300px;
}

section.my_prossime_classi div.my_row img{
    height: 1.5rem;
}

section.my_prossime_classi span{
    font-size: 0.6rem;
}

/* MY FAQ */

section.my_faq p.my_faq_question,    
section.my_faq div.my_faq_answer{    
    font-size: 0.8rem;
}

section.my_todo span{
    font-size: 0.8rem;
}

/* MY USERS STATS */

section.my_users_stats p,
section.my_users_stats a{
    font-size: 0.8rem;
}


@media screen and (max-width: 992px){
    main nav.side-bar{
        min-width: 80px;
    }
}

@media screen and (max-width: 768px){
    section.my_prossime_classi div.my_class_info{
        width: 150px;
    }
}